:root .project7 {
  --clock-bg-color: rgba(0, 0, 0, 0.5);
  --bg-dawn-color: linear-gradient(-225deg, #2cd8d5 0%, #c5c1ff 56%, #ffbac3 100%);
  --bg-day-color: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  --bg-night-color: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
  --base-font-family: 'Noto Sans KR', sans-serif;
  --base-font-size: 3.3rem;
  --base-padding: 2rem;
}

.project7.dawn {
  background-image: var(--bg-dawn-color);
}

.project7.day {
  background-image: var(--bg-day-color);
}

.project7.night {
  background-image: var(--bg-night-color);
}

.project7 .clock {
  background-color: var(--clock-bg-color);
  font-family: var(--base-font-family);
  color: white;
  font-size: var(--base-font-size);
  padding: var(--base-padding);
}

@media (max-width: 500px) {
  .project7 .clock {
    font-size: 2rem;
  }
}
