@import url('./project1.css');
@import url('./project2.css');
@import url('./project3.css');
@import url('./project4.css');

:root {
  --primary-color: #306ba4;
  --highlight-color: #31d2f7;
  --border-radius: 1rem;
  --base-font-family: 'Noto Sans KR', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
  width: 100%;
}

body {
  font-family: var(--base-font-family);
  font-weight: bold;
  letter-spacing: -1px;
}

#app {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

header {
  width: 100%;
  position: sticky;
  font-size: 1.4rem;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

header a {
  padding: 1.4rem;
}

header a:hover {
  color: var(--highlight-color);
}

.home {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .homeList li {
  font-size: 1.2rem;
  margin: 1rem;
  background-color: white;
  border-radius: var(--border-radius);
}

.home .homeList li a {
  padding: 0.5rem 2rem;
}

.home .homeList li a:hover {
  color: var(--highlight-color);
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notFound {
  background-color: tomato;
}

.notFound .noticeBox {
  padding: 1.6rem;
  background-color: white;
  text-align: center;
  border-radius: var(--border-radius);
}

.notFound h2 {
  font-size: 2rem;
  margin-bottom: 1.4rem;
}

.notFound p {
  font-size: 1.4rem;
}
