@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

:root {
  --text-start-color: rgb(52, 58, 64);
  --text-end-color: white;
  --button-color: white;
  --button-hover-color: rgb(52, 58, 64);
  --button-font-color: rgb(52, 58, 64);
  --button-border-color: rgb(52, 58, 64);
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
}

#app div {
  text-align: center;
  animation: 3s ease-in-out 1s infinite alternate changeFontColor;
  color: var(--text-start-color);
}

#app h1 {
  margin-bottom: 100px;
}

#app h2 {
  margin-bottom: 30px;
}

button {
  padding: 10px 15px;
  background-color: var(--button-color);
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  color: var(--button-font-color);
  font-size: 16px;
  border: 1px solid var(--button-border-color);
  transition: all 0.2s;
  box-shadow: 0px 0px 0px 5px rgb(255, 255, 255, 0.8);
}

button:hover {
  color: white;
  font-weight: 500;
  background-color: var(--button-hover-color);
}

@keyframes changeFontColor {
  from {
    color: var(--text-start-color);
  }

  to {
    color: var(--text-end-color);
  }
}
